{:deps {io.github.nextjournal/clerk {:mvn/version "0.15.957"}
        io.github.nextjournal/clerk-slideshow {:git/sha "11a83fea564da04b9d17734f2031a4921d917893"}
        org.clojure/core.logic {:mvn/version "1.0.1"}}}
